.container {
    width: 50%;
    height: 400px;
    float: left;
}

#concontainerer {
    margin: 0 auto;
}

#user-name {
    margin: 0 auto;
    height: 20px;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}